@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


/* index.css */

/* Make WalletMultiButton match your theme */
button.wallet-adapter-button-trigger {
  background-color: #D4AA7D !important;
  color: black !important;
  font-weight: bold !important;
  padding: 0.5rem 1rem !important;
  border-radius: 0.5rem !important; /* rounded-md */
  white-space: nowrap;
}

/* Hover effect */
button.wallet-adapter-button-trigger:hover {
  background-color: #EFD09E !important;
}

/* Optional: smaller icons */
.wallet-adapter-button-start-icon,
.wallet-adapter-button-end-icon {
  width: 1rem !important;
  height: 1rem !important;
}

.backdrop-blur-md {
    backdrop-filter: none !important;
}

/* .wallet-adapter-dropdown {
    position: relative !important;
    z-index: 99999 !important;
} */

/* .wallet-adapter-dropdown-list{
    position: absolute !important;
    z-index: 99999;
    background-color: red;
} */
